body {
  margin: 0;
  padding: 0;
}
header {
  font-family:fantasy;
  background-color: beige;
  padding: 10px;
}
aside {
  background-color: azure;
  display: inline-flex;
  padding: 40px 20px;
}
main {
  display: inline-flex;
  padding: 40px 20px;
}
main table td,
main table th {
  padding: 10px;
}

